body{
  margin: 0;
  padding: 0px; /*Espaço entre o texto e a borda*/
  /*box-sizing: border-box; */
  background-color:#00AEEF;
  font-family:"Roboto",sans-serif;
  color:white;

}
 
.inicio{
    
}   
.h1-inicio{
    font-size:40px;
        
}

.p-inicio{
    font-size:20px;    
}

.botão{}


/*Ajustar a imagem do ventilado 1 para que fique do lado do texto 1 */
.ventilador-um{
    width: 100%; /*Tamanho geral da imagem??*/
    overflow: hidden;  
        } 
.imagem {
    float: right; /*Posivel posição onde o ventilador vai ficar*/
    width:60%;/* Ajuste conforme necessário */
    padding:150px;
}

.texto{
    align-items: center;
    text-align: justify
    float:left;
    
}

.planos{
 
}

.TwoFans{
   
}

.ThreeFans{
   
}

.agradecimento{
}

.contatos{
    
}

.fim{
    text-align:center;
    padding:20px;
    background-color:#008CCF;

}
