body{
  margin: 0;
  padding: 0; /*Espaço entre o texto e a borda*/
  box-sizing: border-box;
  background-color:#00AEEF;
  font-family:"Roboto",sans-serif;
  color:white;                                                                                  

}

/* Configuração da div inicio e seus elementos(h1,p e a imagem do ventilador) */ 
.inicio{
    margin:0px;
    padding: 20px;
    display:flex;
    justify-content: space-between; /*Acho que é isso que deixa a imagem do lado do texto*/
}   

.inicio img{
    loat:right;
    height: 550px;
}

.inicio .texto{
    padding: 90px;
}

.texto h1{
    color:white;
    font-size: 45px;

}
.texto p{
    color: white;
    font-size: 20px;
}

.texto .botao-inicio{ /*Tentar configurar o botão deste inicio*/
    background-color: blue;
    color: white;
    font-size: 25px;
    border-radius: 20px; /*Arredonda as bordas do botão*/
}


/*Config para a categoria dos Planos(Cards com texto e imagens)*/

.planos h2{
    font-size: 40px;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 80px;
    text-align: center;
}

.card{
    width: 320px;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 15px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    color: black;

}

.card-content .botao{
    display: inline-block;
    padding:8px 16px ;
    background-color: blue;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 16px;
    color: #fff;
    font-size: 20px;
}

/* Config TwoFans */

.twofans{
   background-color:#CCEFFC;  /*Da pra alterar a cor de fundo dessas divs de categorias*/
   padding: 90px;
   display: flex;
   justify-content: space-between;
}

.twofans h2{
    text-align: left;
    font-size: 50px;
}

.twofans img{
    text-align: center;
    float: rigth;
    height: 400px;
}

/* Config ThreeFans */
.threefans{
    background-color:#CCEFFC;
    padding: 90px;
    display: flex;
    justify-content: space-between;
}

.threefans h2{
    color: white;
    text-align: left;
    font-size: 50px;
}

.threefans img{
    text-align: center;
    float: right;
    height: 400px;
}

/*Config FourFans*/
.fourfans{
    background-color: #CCEFFC;
    padding: 90px;
    display: flex;
    justify-content: space-between;
}

.fourfans h2{
    text-align: left;
    font-size: 50px;
}

.fourfans img{
    text-align: center;
    float: right;
    height: 400px;
}


 /*Config para a categoria agradecimento*/
.agradecimento{
    margin: 0;
    padding: 90px;
    display: flex;
    justify-content: space-between;
}

.agradecimento img{
    loat:rigth;
    height: 250px;
}

.agradecimento texto{
    float: left;
}
.agradecimento h2{
    color: #CCEFFC;
    font-size: 35px;
}

.agradecimento p{
    font-size: 20px;
}


/*Config Contatos*/



.contato{
    background-color:#CCEFFC;
    margin:0px;
    padding: 90px;
    display:flex;
    justify-content: space-between;
}

.contato img{
    height: 300px;
}

.texto-esquerda h2{
    text-align: center;
    font-size: 50px;
}

.texto-direita{
    font-size: 25px;
}
.texto-direita h3{
    font-size: 25px;
    color: blue;
}

.fim{
    text-align:center;
    padding:300px;
    background-color:#008CCF;

}

.footer p{
    text-align: center;
}