body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#00AEEF;
  font-family:"Roboto",sans-serif;
}
    
h1{
    font-size:40px;color:white;
        
}

p{
    font-size:20px;color:white;     
}

.botão{}

.inicio{
    padding:150px;
}

/*Ajustar a imagem do ventilado 1 para que fique do lado do texto 1 */
.ventilador-um{
    width: 150%;
    overflow: hidden; 
        } 
.imagem {
    float: right;
    width: 30%; /* Ajuste conforme necessário */
}

.texto{
    float:left;
    
}

.planos{
    padding:20px;
}

.TwoFans{
    padding:20px;
}

.ThreeFans{
    padding:20px;
}

.agradecimento{
    padding:20px;
}

.contatos{
    padding:20px;
}

.fim{
    text-align:center;
    padding:20px;
    background-color:#008CCF;

}
