body{
  margin: 0;
  padding: 0px; /*Espaço entre o texto e a borda*/
  box-sizing: border-box;
  background-color:#00AEEF;
  font-family:"Roboto",sans-serif;
  color:white;

}

 
.inicio{
    margin:20px;
    padding:100px;


}   
.h1{
    font-size:50px;
        
}

.p{
    font-size:20px;    
}

.botão{}


    
}

.planos{
 
}

.TwoFans{
   
}

.ThreeFans{
   
}

.agradecimento{
}

.contatos{
    
}

.fim{
    text-align:center;
    padding:20px;
    background-color:#008CCF;

}
