body{
  margin: 0;
  padding: 0; /*Espaço entre o texto e a borda*/
  box-sizing: border-box;
  background-color:#00AEEF;
  font-family:"Roboto",sans-serif;
  color:white;                                                                                  

}

/* Configuração da div inicio e seus elementos(h1,p e a imagem do ventilador) */ 
.inicio{
    margin:0px;
    display:flex;
    justify-content: space-between; /*Acho que é isso que deixa a imagem do lado do texto*/
}   

.inicio img{
    loat:right;
    height: 550px;

}

.texto{
    padding: 90px;
}
.inicio h1{
    color:white;
    font-size: 50px;

}
.inicio p{
    color: white;
    font-size: 20px;
}

/*Config oara a categoria dos Planos(Cards com texto e imagens)*/

.planos h1{
    font-size: 40px;
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 100px;
    text-align: ;
}

.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 15px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
    color: black;

}

.card-content .botao{
    display: inline-block;
    padding:8px 16px ;
    background-color: blue;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}


 /*Config para a categoria agradecimento*/
.agradecimento{
    margin: 0;
    padding: 90px;
    display: flex;
    justify-content: space-between;
}

.agradecimento img{
    loat:rigth;
    height: 300px;
}

.texto-agradecimento h1{
    font-size: 30px;
}

.texto-agradecimento p{
    font-size: 20px;
}


/*Config Contatos*/
.contatos{
    margin: 0;
    padding: 90px;
    display: flex;
    justify-content: space-between;
}

.contatos img{
    /*loat: rigth;*/
    height: 300px;
}

.contatos texto-contatos{
    float: rigth;
}
.fim{
    text-align:center;
    padding:20px;
    background-color:#008CCF;

}
